<div class="sidebar">
    {% include social.html %}
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" and node.album == null and node.pagetype != "album" and node.title != "Music"%}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="https://youtube.com/petepetersonmusic">Video</a>

      {% comment %}
        Now add album pages
      {% endcomment %}

      <a class="sidebar-nav-item{% if page.url == '/music/' %}  active{% endif %}" href="/music">Music</a>

      {% assign albums_list = site.pages | sort: "date" | reverse %}
      {% for node in albums_list %}
        {% if node.title != null %}
          {% if node.layout == "page" and node.pagetype == "album" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %} subitem" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <p style="font-size: 50%;">&copy; {{ site.time | date: '%Y' }} Pete Peterson Music. All rights reserved.</p>
  </div>
</div>
