<!-- Social media icons -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i>
    </a>
{% endif %}

{% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github"></i>
    </a>
{% endif %}

{% if site.youtube_username %}
    <a href="https://youtube.com/{{ site.youtube_username }}">
      <i class="fa fa-youtube"></i>
    </a>
{% endif %}

{% if site.instagram_username %}
    <a href="https://instagram.com/{{ site.instagram_username }}">
      <i class="fa fa-instagram"></i>
    </a>
{% endif %}

{% if site.youtube_username %}
    <a href="https://youtube.com/{{ site.youtube_username }}">
      <i class="fa fa-youtube"></i>
    </a>
{% endif %}

{% if site.facebook_username %}
    <a href="https://facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook"></i>
    </a>
{% endif %}

{% if site.soundcloud_username %}
    <a href="https://soundcloud.com/{{ site.soundcloud_username }}">
      <i class="fa fa-soundcloud"></i>
    </a>
{% endif %}

{% if site.bandcamp_username %}
    <a href="https://{{ site.bandcamp_username }}.bandcamp.com">
      <i class="fa fa-bandcamp"></i>bc
    </a>
{% endif %}
